{
  "openapi": "3.1.0",
  "info": {
    "title": "ActivitySmith API",
    "description": "Send push notifications and Live Activities to your own devices via a single API key.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://activitysmith.com/api"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "PushNotifications",
      "description": "Send push notifications to paired devices."
    },
    {
      "name": "LiveActivities",
      "description": "Start, update, stream, and end Live Activities."
    },
    {
      "name": "Metrics",
      "description": "Update metric values shown in ActivitySmith widgets."
    }
  ],
  "paths": {
    "/push-notification": {
      "post": {
        "tags": ["PushNotifications"],
        "summary": "Send a push notification",
        "description": "Sends a push notification to devices matched by API key scope and optional target channels. Supports optional redirection URL, optional media preview or playback when the notification is expanded, and up to 4 interactive actions. `media` cannot be combined with `actions`.",
        "operationId": "sendPushNotification",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PushNotificationRequest" },
              "examples": {
                "default": {
                  "value": {
                    "title": "New subscription 💸",
                    "message": "Customer upgraded to Pro plan"
                  }
                },
                "channel_targeted": {
                  "value": {
                    "title": "New subscription 💸",
                    "message": "Customer upgraded to Pro plan",
                    "target": {
                      "channels": ["devs", "ops"]
                    }
                  }
                },
                "redirection": {
                  "value": {
                    "title": "Incident Resolved ✅",
                    "message": "All systems operational",
                    "redirection": "https://status.example.com/incidents/abc-123"
                  }
                },
                "media_preview": {
                  "value": {
                    "title": "Homepage ready",
                    "message": "Your agent finished the redesign.",
                    "media": "https://cdn.example.com/output/homepage.png"
                  }
                },
                "media_preview_with_redirection": {
                  "value": {
                    "title": "Homepage ready",
                    "message": "Your agent finished the redesign.",
                    "media": "https://cdn.example.com/output/homepage.png",
                    "redirection": "https://github.com/acme/web/pull/482"
                  }
                },
                "actions_open_url": {
                  "value": {
                    "title": "Release Candidate Ready 🚀",
                    "message": "v2.14.0-rc.1 deployed to staging",
                    "actions": [
                      {
                        "title": "View CI Run",
                        "type": "open_url",
                        "url": "https://github.com/activitysmithhq/backend/actions/runs/1234567890"
                      },
                      {
                        "title": "Release Notes",
                        "type": "open_url",
                        "url": "https://github.com/activitysmithhq/backend/releases/tag/v2.14.0-rc.1"
                      }
                    ]
                  }
                },
                "actions_webhook": {
                  "value": {
                    "title": "Build Failed 🚨",
                    "message": "Tap and hold for remediation actions",
                    "redirection": "https://ci.example.com/builds/8842",
                    "actions": [
                      {
                        "title": "Retry Build",
                        "type": "webhook",
                        "url": "https://hooks.example.com/activitysmith/build-retry",
                        "method": "POST",
                        "body": {
                          "build_id": "8842",
                          "source": "push_action"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Push notification sent",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PushNotificationResponse" },
                "examples": {
                  "default": {
                    "value": {
                      "success": true,
                      "devices_notified": 2,
                      "users_notified": 1,
                      "timestamp": "2025-08-12T12:00:00.000Z"
                    }
                  },
                  "channel_targeted": {
                    "value": {
                      "success": true,
                      "devices_notified": 2,
                      "users_notified": 1,
                      "effective_channel_slugs": ["devs", "ops"],
                      "timestamp": "2025-08-12T12:00:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid payload or channel targeting input)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BadRequestError" },
                "examples": {
                  "invalid_target": {
                    "value": {
                      "error": "Invalid channel targeting",
                      "message": "target.channels must be an array of channel slugs"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden (API key scope or channel assignment violation)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ForbiddenError" },
                "examples": {
                  "channel_scope_violation": {
                    "value": {
                      "error": "Invalid channel targeting",
                      "message": "This API key can only target assigned channels. Requested channels include channels outside this key scope."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No recipients found for effective channel target",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NoRecipientsError" },
                "examples": {
                  "no_devices": {
                    "value": {
                      "error": "No recipients found",
                      "message": "No devices matched the effective channel target",
                      "effective_channel_slugs": ["marketing"]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/RateLimitError" },
                    { "$ref": "#/components/schemas/LiveActivityLimitError" }
                  ]
                },
                "examples": {
                  "rate_limited": {
                    "value": {
                      "error": "Rate limit exceeded",
                      "message": "Too many requests, please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/live-activity/stream/{stream_key}": {
      "put": {
        "tags": ["LiveActivities"],
        "summary": "Send a stream update",
        "description": "Use this endpoint when you want the easiest, stateless way to trigger Live Activities. You do not need to store activity_id or manage the Live Activity lifecycle yourself. Send the latest state for a stable stream_key and ActivitySmith will handle the rest for you: if there is no Live Activity yet, it starts one; if there is already one for this stream, it updates it. If you need direct lifecycle control, use /live-activity/start, /live-activity/update, and /live-activity/end instead.",
        "operationId": "reconcileLiveActivityStream",
        "parameters": [
          {
            "name": "stream_key",
            "in": "path",
            "required": true,
            "description": "Stable identifier for one ongoing thing. Allowed characters: letters, numbers, underscores, and hyphens.",
            "schema": {
              "type": "string",
              "maxLength": 255,
              "pattern": "^[A-Za-z0-9_-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/LiveActivityStreamRequest" },
              "examples": {
                "metrics": {
                  "value": {
                    "content_state": {
                      "title": "Server Health",
                      "subtitle": "prod-web-1",
                      "type": "metrics",
                      "metrics": [
                        {
                          "label": "CPU",
                          "value": 27,
                          "unit": "%"
                        },
                        {
                          "label": "MEM",
                          "value": 64,
                          "unit": "%"
                        }
                      ]
                    }
                  }
                },
                "channel_targeted": {
                  "value": {
                    "channels": ["ops"],
                    "content_state": {
                      "title": "Server Health",
                      "subtitle": "prod-web-1",
                      "type": "metrics",
                      "metrics": [
                        {
                          "label": "CPU",
                          "value": 27,
                          "unit": "%"
                        },
                        {
                          "label": "MEM",
                          "value": 64,
                          "unit": "%"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stream reconciled",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/LiveActivityStreamPutResponse" },
                "examples": {
                  "started": {
                    "value": {
                      "success": true,
                      "operation": "started",
                      "stream_key": "linode-vps",
                      "activity_id": "h8QmSyYFTuwOIF6Wh3YcZlzHLhUcr034",
                      "devices_notified": 2,
                      "timestamp": "2025-08-12T12:00:00.000Z"
                    }
                  },
                  "noop": {
                    "value": {
                      "success": true,
                      "operation": "noop",
                      "stream_key": "linode-vps",
                      "activity_id": "h8QmSyYFTuwOIF6Wh3YcZlzHLhUcr034",
                      "timestamp": "2025-08-12T12:05:00.000Z"
                    }
                  },
                  "paused": {
                    "value": {
                      "success": true,
                      "operation": "paused",
                      "stream_key": "linode-vps",
                      "activity_id": null,
                      "timestamp": "2025-08-12T12:10:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid stream_key, payload, action, or channel targeting input)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BadRequestError" },
                "examples": {
                  "invalid_stream_key": {
                    "value": {
                      "error": "Invalid stream_key",
                      "message": "stream_key must contain only letters, numbers, underscores, and hyphens"
                    }
                  },
                  "invalid_target": {
                    "value": {
                      "error": "Invalid channel targeting",
                      "message": "channels must contain at least one channel"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden (API key scope or channel assignment violation)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ForbiddenError" },
                "examples": {
                  "channel_scope_violation": {
                    "value": {
                      "error": "Invalid channel targeting",
                      "message": "This API key can only target assigned channels. Requested channels include channels outside this key scope."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No recipients found for effective channel target",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NoRecipientsError" },
                "examples": {
                  "no_devices": {
                    "value": {
                      "error": "No recipients found",
                      "message": "No Live Activity devices matched the effective channel target",
                      "effective_channel_slugs": ["ops"]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/RateLimitError" },
                    { "$ref": "#/components/schemas/LiveActivityLimitError" }
                  ]
                },
                "examples": {
                  "rate_limited": {
                    "value": {
                      "error": "Rate limit exceeded",
                      "message": "Too many requests, please try again later."
                    }
                  },
                  "concurrent_live_activity_limit_reached": {
                    "value": {
                      "error": "Live Activity limit reached",
                      "message": "Only 4 concurrent Live Activities are allowed per account",
                      "limit": 4,
                      "active": 4
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["LiveActivities"],
        "summary": "End a stream",
        "description": "Use this endpoint when the process you are tracking is finished and you no longer want the Live Activity on your devices. ActivitySmith ends the current Live Activity for this stream and dismisses it from devices. If you need direct lifecycle control, use /live-activity/start, /live-activity/update, and /live-activity/end instead.",
        "operationId": "endLiveActivityStream",
        "parameters": [
          {
            "name": "stream_key",
            "in": "path",
            "required": true,
            "description": "Stable identifier for one ongoing thing. Allowed characters: letters, numbers, underscores, and hyphens.",
            "schema": {
              "type": "string",
              "maxLength": 255,
              "pattern": "^[A-Za-z0-9_-]+$"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/LiveActivityStreamDeleteRequest" },
              "examples": {
                "default": {
                  "value": {}
                },
                "with_content_state": {
                  "value": {
                    "content_state": {
                      "title": "Server Health",
                      "subtitle": "prod-web-1",
                      "type": "metrics",
                      "metrics": [
                        {
                          "label": "CPU",
                          "value": 0,
                          "unit": "%"
                        },
                        {
                          "label": "MEM",
                          "value": 0,
                          "unit": "%"
                        }
                      ],
                      "auto_dismiss_minutes": 2
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Managed stream ended",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/LiveActivityStreamDeleteResponse" },
                "examples": {
                  "ended": {
                    "value": {
                      "success": true,
                      "operation": "ended",
                      "stream_key": "linode-vps",
                      "activity_id": "h8QmSyYFTuwOIF6Wh3YcZlzHLhUcr034",
                      "devices_queued": 1,
                      "timestamp": "2025-08-12T12:10:00.000Z"
                    }
                  },
                  "already_inactive": {
                    "value": {
                      "success": true,
                      "operation": "ended",
                      "stream_key": "linode-vps",
                      "activity_id": null,
                      "timestamp": "2025-08-12T12:10:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid stream_key or action)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BadRequestError" },
                "examples": {
                  "invalid_stream_key": {
                    "value": {
                      "error": "Invalid stream_key",
                      "message": "stream_key must contain only letters, numbers, underscores, and hyphens"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Managed stream not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NotFoundError" },
                "examples": {
                  "not_found": {
                    "value": {
                      "error": "Live Activity stream not found",
                      "message": "No Live Activity stream found for stream_key: linode-vps"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/RateLimitError" },
                "examples": {
                  "rate_limited": {
                    "value": {
                      "error": "Rate limit exceeded",
                      "message": "Too many requests, please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/live-activity/start": {
      "post": {
        "tags": ["LiveActivities"],
        "summary": "Start a Live Activity",
        "description": "Starts a Live Activity on devices matched by API key scope and optional target channels. Supports segmented_progress, progress, and metrics activity types. For segmented_progress activities, number_of_steps can be changed later during update or end calls if the workflow changes.",
        "operationId": "startLiveActivity",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/LiveActivityStartRequest" },
              "examples": {
                "segmented_progress": {
                  "value": {
                    "content_state": {
                      "title": "Nightly database backup",
                      "subtitle": "create snapshot",
                      "number_of_steps": 3,
                      "current_step": 1,
                      "type": "segmented_progress",
                      "color": "yellow"
                    }
                  }
                },
                "progress": {
                  "value": {
                    "content_state": {
                      "title": "EV Charging",
                      "subtitle": "Added 30 mi range",
                      "percentage": 15,
                      "type": "progress",
                      "color": "lime"
                    }
                  }
                },
                "metrics": {
                  "value": {
                    "content_state": {
                      "title": "Server Health",
                      "subtitle": "prod-web-1",
                      "type": "metrics",
                      "metrics": [
                        {
                          "label": "CPU",
                          "value": 21,
                          "unit": "%"
                        },
                        {
                          "label": "MEM",
                          "value": 64,
                          "unit": "%"
                        }
                      ]
                    }
                  }
                },
                "open_url_action": {
                  "value": {
                    "content_state": {
                      "title": "Deploying payments-api",
                      "subtitle": "Running database migrations",
                      "number_of_steps": 5,
                      "current_step": 3,
                      "type": "segmented_progress"
                    },
                    "action": {
                      "title": "Open Workflow",
                      "type": "open_url",
                      "url": "https://github.com/acme/payments-api/actions/runs/1234567890"
                    }
                  }
                },
                "segmented_progress_channel_targeted": {
                  "value": {
                    "content_state": {
                      "title": "Nightly database backup",
                      "subtitle": "create snapshot",
                      "number_of_steps": 3,
                      "current_step": 1,
                      "type": "segmented_progress",
                      "color": "yellow"
                    },
                    "target": {
                      "channels": ["devs", "ops"]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Live Activity started",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/LiveActivityStartResponse" },
                "examples": {
                  "segmented_progress": {
                    "value": {
                      "success": true,
                      "activity_id": "pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW",
                      "devices_notified": 2,
                      "users_notified": 1,
                      "timestamp": "2026-01-28T09:57:22.929Z"
                    }
                  },
                  "segmented_progress_channel_targeted": {
                    "value": {
                      "success": true,
                      "activity_id": "pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW",
                      "devices_notified": 2,
                      "users_notified": 1,
                      "effective_channel_slugs": ["devs", "ops"],
                      "timestamp": "2026-01-28T09:57:22.929Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid payload or channel targeting input)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BadRequestError" },
                "examples": {
                  "invalid_target": {
                    "value": {
                      "error": "Invalid channel targeting",
                      "message": "target.channels must be an array of channel slugs"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden (API key scope or channel assignment violation)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ForbiddenError" },
                "examples": {
                  "channel_scope_violation": {
                    "value": {
                      "error": "Invalid channel targeting",
                      "message": "This API key can only target assigned channels. Requested channels include channels outside this key scope."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No recipients found for effective channel target",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NoRecipientsError" },
                "examples": {
                  "no_devices": {
                    "value": {
                      "error": "No recipients found",
                      "message": "No Live Activity devices matched the effective channel target",
                      "effective_channel_slugs": ["marketing"]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/RateLimitError" },
                    { "$ref": "#/components/schemas/LiveActivityLimitError" }
                  ]
                },
                "examples": {
                  "rate_limited": {
                    "value": {
                      "error": "Rate limit exceeded",
                      "message": "Too many requests, please try again later."
                    }
                  },
                  "concurrent_live_activity_limit_reached": {
                    "value": {
                      "error": "Live Activity limit reached",
                      "message": "Only 4 concurrent Live Activities are allowed per account",
                      "limit": 4,
                      "active": 4
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/live-activity/update": {
      "post": {
        "tags": ["LiveActivities"],
        "summary": "Update a Live Activity",
        "description": "Updates an existing Live Activity. If the per-activity token is not registered yet, the update is queued. Supports segmented_progress, progress, and metrics activity types. For segmented_progress activities, you can increase or decrease number_of_steps here as the workflow changes.",
        "operationId": "updateLiveActivity",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/LiveActivityUpdateRequest" },
              "examples": {
                "segmented_progress": {
                  "value": {
                    "activity_id": "pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW",
                    "content_state": {
                      "title": "Nightly database backup",
                      "subtitle": "upload archive",
                      "number_of_steps": 3,
                      "current_step": 2
                    }
                  }
                },
                "progress": {
                  "value": {
                    "activity_id": "pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW",
                    "content_state": {
                      "title": "EV Charging",
                      "subtitle": "Added 120 mi range",
                      "percentage": 60
                    }
                  }
                },
                "metrics": {
                  "value": {
                    "activity_id": "pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW",
                    "content_state": {
                      "title": "Server Health",
                      "subtitle": "prod-web-1",
                      "type": "metrics",
                      "metrics": [
                        {
                          "label": "CPU",
                          "value": 25,
                          "unit": "%"
                        },
                        {
                          "label": "MEM",
                          "value": 67,
                          "unit": "%"
                        }
                      ]
                    }
                  }
                },
                "webhook_action": {
                  "value": {
                    "activity_id": "pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW",
                    "content_state": {
                      "title": "Reindexing product search",
                      "subtitle": "Shard 7 of 12",
                      "number_of_steps": 12,
                      "current_step": 7
                    },
                    "action": {
                      "title": "Pause Reindex",
                      "type": "webhook",
                      "url": "https://ops.example.com/hooks/search/reindex/pause",
                      "method": "POST",
                      "body": {
                        "job_id": "reindex-2026-03-19",
                        "requested_by": "activitysmith_live_activity",
                        "reason": "paused_from_ios_live_activity"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Live Activity updated (or queued)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/LiveActivityUpdateResponse" },
                "examples": {
                  "sent": {
                    "value": {
                      "success": true,
                      "activity_id": "pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW",
                      "devices_notified": 2,
                      "devices_queued": 0,
                      "timestamp": "2026-01-28T09:57:26.056Z"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden (activity not owned by this API key account)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ForbiddenError" },
                "examples": {
                  "forbidden": {
                    "value": {
                      "error": "Forbidden",
                      "message": "This API key cannot update this Live Activity"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/RateLimitError" },
                "examples": {
                  "rate_limited": {
                    "value": {
                      "error": "Rate limit exceeded",
                      "message": "Too many requests, please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/live-activity/end": {
      "post": {
        "tags": ["LiveActivities"],
        "summary": "End a Live Activity",
        "description": "Ends a Live Activity and archives its lifecycle. Supports segmented_progress, progress, and metrics activity types. For segmented_progress activities, you can send the latest number_of_steps here if the workflow changed after start.",
        "operationId": "endLiveActivity",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/LiveActivityEndRequest" },
              "examples": {
                "segmented_progress": {
                  "value": {
                    "activity_id": "pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW",
                    "content_state": {
                      "title": "Nightly database backup",
                      "subtitle": "verify restore",
                      "number_of_steps": 3,
                      "current_step": 3,
                      "auto_dismiss_minutes": 2
                    }
                  }
                },
                "progress": {
                  "value": {
                    "activity_id": "pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW",
                    "content_state": {
                      "title": "EV Charging",
                      "subtitle": "Added 200 mi range",
                      "percentage": 100,
                      "auto_dismiss_minutes": 2
                    }
                  }
                },
                "metrics": {
                  "value": {
                    "activity_id": "pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW",
                    "content_state": {
                      "title": "Server Health",
                      "subtitle": "prod-web-1",
                      "type": "metrics",
                      "metrics": [
                        {
                          "label": "CPU",
                          "value": 0,
                          "unit": "%"
                        },
                        {
                          "label": "MEM",
                          "value": 0,
                          "unit": "%"
                        }
                      ],
                      "auto_dismiss_minutes": 2
                    }
                  }
                },
                "open_url_action": {
                  "value": {
                    "activity_id": "pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW",
                    "content_state": {
                      "title": "Deploying payments-api",
                      "subtitle": "Production rollout complete",
                      "number_of_steps": 5,
                      "current_step": 5,
                      "auto_dismiss_minutes": 10
                    },
                    "action": {
                      "title": "Open Workflow",
                      "type": "open_url",
                      "url": "https://github.com/acme/payments-api/actions/runs/1234567890"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Live Activity ended",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/LiveActivityEndResponse" },
                "examples": {
                  "segmented_progress": {
                    "value": {
                      "success": true,
                      "activity_id": "pLAr-Hnq9ZFW4sxlk43Lhbuok4GLh7UW",
                      "devices_notified": 2,
                      "devices_queued": 0,
                      "timestamp": "2026-01-28T09:57:29.258Z"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden (activity not owned by this API key account)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ForbiddenError" },
                "examples": {
                  "forbidden": {
                    "value": {
                      "error": "Forbidden",
                      "message": "This API key cannot end this Live Activity"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/RateLimitError" },
                "examples": {
                  "rate_limited": {
                    "value": {
                      "error": "Rate limit exceeded",
                      "message": "Too many requests, please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/metrics/{key}/value": {
      "post": {
        "tags": ["Metrics"],
        "summary": "Update a widget metric value",
        "description": "Updates the latest value for a metric configured in ActivitySmith widgets. Create the metric in the web app first, then write values using its key. Numeric metric formats accept finite numbers. String metrics accept non-empty text up to 64 characters.",
        "operationId": "updateMetricValue",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "Metric key configured in the web app. Lowercase letters, numbers, dots, underscores, and dashes are allowed.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 64,
              "pattern": "^[a-z0-9][a-z0-9_.-]{0,63}$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/MetricValueUpdateRequest" },
              "examples": {
                "number": {
                  "value": {
                    "value": 42
                  }
                },
                "string": {
                  "value": {
                    "value": "healthy"
                  }
                },
                "timestamp": {
                  "value": {
                    "value": 99.9,
                    "timestamp": "2026-05-03T12:30:00.000Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Metric value updated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MetricValueUpdateResponse" },
                "examples": {
                  "number": {
                    "value": {
                      "metric": {
                        "public_id": "m1p94J8hQz2wKfR7aBcD",
                        "key": "deploy.success_rate",
                        "label": "Success Rate",
                        "currency_code": null,
                        "unit": null,
                        "unit_spacing": "none",
                        "format": "percent",
                        "latest_value": 99.9,
                        "latest_value_at": "2026-05-03T12:30:00.000Z",
                        "created_at": "2026-05-03T09:00:00.000Z",
                        "updated_at": "2026-05-03T12:30:00.000Z"
                      }
                    }
                  },
                  "string": {
                    "value": {
                      "metric": {
                        "public_id": "9xK2hYbQp0aLmN6vR3tS",
                        "key": "prod.status",
                        "label": "Production Status",
                        "currency_code": null,
                        "unit": null,
                        "unit_spacing": "none",
                        "format": "string",
                        "latest_value": "healthy",
                        "latest_value_at": "2026-05-03T12:30:00.000Z",
                        "created_at": "2026-05-03T09:00:00.000Z",
                        "updated_at": "2026-05-03T12:30:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid key, value, or timestamp)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MetricError" },
                "examples": {
                  "invalid_value": {
                    "value": {
                      "error": "value must be a finite number"
                    }
                  },
                  "invalid_timestamp": {
                    "value": {
                      "error": "timestamp must be a valid ISO date"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Metric not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MetricError" },
                "examples": {
                  "not_found": {
                    "value": {
                      "error": "Metric not found"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/RateLimitError" },
                "examples": {
                  "rate_limited": {
                    "value": {
                      "error": "Rate limit exceeded",
                      "message": "Too many requests, please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "Required. Include `Authorization: Bearer ask_123456789` in every request. Replace `ask_123456789` with your API key."
      }
    },
    "schemas": {
      "ContentStateStart": {
        "type": "object",
        "description": "Start payload requires title and type. For segmented_progress include number_of_steps and current_step. For progress include percentage or value with upper_limit. For metrics include a non-empty metrics array. For segmented_progress, number_of_steps is not locked and can be changed in later update or end calls.",
        "required": ["title", "type"],
        "properties": {
          "title": { "type": "string" },
          "subtitle": { "type": "string" },
          "number_of_steps": {
            "type": "integer",
            "minimum": 1,
            "description": "Total number of steps. Use for type=segmented_progress. This value can be increased or decreased later when updating or ending the same activity."
          },
          "current_step": {
            "type": "integer",
            "minimum": 1,
            "description": "Current step. Use for type=segmented_progress."
          },
          "percentage": {
            "type": "number",
            "minimum": 0,
            "maximum": 100,
            "description": "Progress percentage (0–100). Use for type=progress. Takes precedence over value/upper_limit if both are provided."
          },
          "value": {
            "type": "number",
            "description": "Current progress value. Use with upper_limit for type=progress."
          },
          "upper_limit": {
            "type": "number",
            "exclusiveMinimum": 0,
            "description": "Maximum progress value. Use with value for type=progress."
          },
          "metrics": {
            "type": "array",
            "description": "Use for type=metrics.",
            "minItems": 1,
            "items": { "$ref": "#/components/schemas/ActivityMetric" }
          },
          "type": {
            "type": "string",
            "enum": ["segmented_progress", "progress", "metrics"]
          },
          "color": {
            "type": "string",
            "enum": ["lime", "green", "cyan", "blue", "purple", "magenta", "red", "orange", "yellow"],
            "description": "Optional. Accent color for the Live Activity. Defaults to blue.",
            "default": "blue"
          },
          "step_color": {
            "type": "string",
            "enum": ["lime", "green", "cyan", "blue", "purple", "magenta", "red", "orange", "yellow"],
            "description": "Optional. Overrides color for the current step. Only applies to type=segmented_progress."
          },
          "step_colors": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["lime", "green", "cyan", "blue", "purple", "magenta", "red", "orange", "yellow"]
            },
            "description": "Optional. Colors for completed steps. When used with segmented_progress, the array length should match current_step."
          }
        },
        "dependentRequired": {
          "value": ["upper_limit"],
          "upper_limit": ["value"]
        },
        "additionalProperties": false
      },
      "ContentStateUpdate": {
        "type": "object",
        "description": "Update payload requires title. For segmented_progress include current_step and optionally number_of_steps. For progress include percentage or value with upper_limit. For metrics include a non-empty metrics array. Type is optional when updating an existing activity. You can increase or decrease number_of_steps during updates.",
        "required": ["title"],
        "properties": {
          "title": { "type": "string" },
          "subtitle": { "type": "string" },
          "number_of_steps": {
            "type": "integer",
            "minimum": 1,
            "description": "Total number of steps. Use for type=segmented_progress. Optional on update, and safe to change if the workflow gains or loses steps."
          },
          "current_step": {
            "type": "integer",
            "minimum": 1,
            "description": "Current step. Use for type=segmented_progress."
          },
          "percentage": {
            "type": "number",
            "minimum": 0,
            "maximum": 100,
            "description": "Progress percentage (0–100). Use for type=progress. Takes precedence over value/upper_limit if both are provided."
          },
          "value": {
            "type": "number",
            "description": "Current progress value. Use with upper_limit for type=progress."
          },
          "upper_limit": {
            "type": "number",
            "exclusiveMinimum": 0,
            "description": "Maximum progress value. Use with value for type=progress."
          },
          "metrics": {
            "type": "array",
            "description": "Use for type=metrics.",
            "minItems": 1,
            "items": { "$ref": "#/components/schemas/ActivityMetric" }
          },
          "type": {
            "type": "string",
            "enum": ["segmented_progress", "progress", "metrics"],
            "description": "Optional. When omitted, the API uses the existing Live Activity type."
          },
          "color": {
            "type": "string",
            "enum": ["lime", "green", "cyan", "blue", "purple", "magenta", "red", "orange", "yellow"],
            "description": "Optional. Accent color for the Live Activity. Defaults to blue.",
            "default": "blue"
          },
          "step_color": {
            "type": "string",
            "enum": ["lime", "green", "cyan", "blue", "purple", "magenta", "red", "orange", "yellow"],
            "description": "Optional. Overrides color for the current step. Only applies to type=segmented_progress."
          },
          "step_colors": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["lime", "green", "cyan", "blue", "purple", "magenta", "red", "orange", "yellow"]
            },
            "description": "Optional. Colors for completed steps. When used with segmented_progress, the array length should match current_step."
          }
        },
        "dependentRequired": {
          "value": ["upper_limit"],
          "upper_limit": ["value"]
        },
        "additionalProperties": false
      },
      "ContentStateEnd": {
        "type": "object",
        "description": "End payload requires title. For segmented_progress include current_step and optionally number_of_steps. For progress include percentage or value with upper_limit. For metrics include a non-empty metrics array. Type is optional when ending an existing activity. You can send an updated number_of_steps here if the workflow changed after start.",
        "required": ["title"],
        "properties": {
          "title": { "type": "string" },
          "subtitle": { "type": "string" },
          "number_of_steps": {
            "type": "integer",
            "minimum": 1,
            "description": "Total number of steps. Use for type=segmented_progress. Optional on end, and safe to change if the final workflow used more or fewer steps than originally planned."
          },
          "current_step": {
            "type": "integer",
            "minimum": 1,
            "description": "Current step. Use for type=segmented_progress."
          },
          "percentage": {
            "type": "number",
            "minimum": 0,
            "maximum": 100,
            "description": "Progress percentage (0–100). Use for type=progress. Takes precedence over value/upper_limit if both are provided."
          },
          "value": {
            "type": "number",
            "description": "Current progress value. Use with upper_limit for type=progress."
          },
          "upper_limit": {
            "type": "number",
            "exclusiveMinimum": 0,
            "description": "Maximum progress value. Use with value for type=progress."
          },
          "metrics": {
            "type": "array",
            "description": "Use for type=metrics.",
            "minItems": 1,
            "items": { "$ref": "#/components/schemas/ActivityMetric" }
          },
          "type": {
            "type": "string",
            "enum": ["segmented_progress", "progress", "metrics"],
            "description": "Optional. When omitted, the API uses the existing Live Activity type."
          },
          "color": {
            "type": "string",
            "enum": ["lime", "green", "cyan", "blue", "purple", "magenta", "red", "orange", "yellow"],
            "description": "Optional. Accent color for the Live Activity. Defaults to blue.",
            "default": "blue"
          },
          "step_color": {
            "type": "string",
            "enum": ["lime", "green", "cyan", "blue", "purple", "magenta", "red", "orange", "yellow"],
            "description": "Optional. Overrides color for the current step. Only applies to type=segmented_progress."
          },
          "step_colors": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["lime", "green", "cyan", "blue", "purple", "magenta", "red", "orange", "yellow"]
            },
            "description": "Optional. Colors for completed steps. When used with segmented_progress, the array length should match current_step."
          },
          "auto_dismiss_minutes": {
            "type": "integer",
            "minimum": 0,
            "description": "Optional. Minutes before the ended Live Activity is dismissed. Default 3. Set 0 for immediate dismissal. iOS will dismiss ended Live Activities after ~4 hours max.",
            "default": 3
          }
        },
        "dependentRequired": {
          "value": ["upper_limit"],
          "upper_limit": ["value"]
        },
        "additionalProperties": false
      },
      "StreamContentState": {
        "type": "object",
        "description": "Current state for a managed Live Activity stream. Include type on the first PUT, and whenever the stream may need to start a fresh activity. Supports segmented_progress, progress, and metrics types.",
        "required": ["title"],
        "properties": {
          "title": { "type": "string" },
          "subtitle": { "type": "string" },
          "number_of_steps": {
            "type": "integer",
            "minimum": 1,
            "description": "Use for segmented_progress."
          },
          "current_step": {
            "type": "integer",
            "minimum": 1,
            "description": "Use for segmented_progress."
          },
          "percentage": {
            "type": "number",
            "minimum": 0,
            "maximum": 100,
            "description": "Use for progress. Takes precedence over value/upper_limit if both are provided."
          },
          "value": {
            "type": "number",
            "description": "Current progress value. Use with upper_limit for progress."
          },
          "upper_limit": {
            "type": "number",
            "exclusiveMinimum": 0,
            "description": "Maximum progress value. Use with value for progress."
          },
          "type": {
            "type": "string",
            "enum": ["segmented_progress", "progress", "metrics"],
            "description": "Required on the first PUT or whenever the stream cannot infer the current activity type."
          },
          "color": {
            "type": "string",
            "enum": ["lime", "green", "cyan", "blue", "purple", "magenta", "red", "orange", "yellow"],
            "description": "Optional. Accent color for the Live Activity. Defaults to blue.",
            "default": "blue"
          },
          "step_color": {
            "type": "string",
            "enum": ["lime", "green", "cyan", "blue", "purple", "magenta", "red", "orange", "yellow"],
            "description": "Optional. Overrides color for the current step. Only applies to segmented_progress."
          },
          "step_colors": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["lime", "green", "cyan", "blue", "purple", "magenta", "red", "orange", "yellow"]
            },
            "description": "Optional. Colors for completed steps. When used with segmented_progress, the array length should match current_step."
          },
          "metrics": {
            "type": "array",
            "description": "Use for metrics activities.",
            "minItems": 1,
            "items": { "$ref": "#/components/schemas/ActivityMetric" }
          },
          "auto_dismiss_seconds": {
            "type": "integer",
            "minimum": 0,
            "description": "Optional. Seconds before the ended Live Activity is dismissed."
          },
          "auto_dismiss_minutes": {
            "type": "integer",
            "minimum": 0,
            "description": "Optional. Minutes before the ended Live Activity is dismissed."
          }
        },
        "dependentRequired": {
          "value": ["upper_limit"],
          "upper_limit": ["value"]
        },
        "additionalProperties": false
      },
      "ActivityMetric": {
        "type": "object",
        "required": ["label", "value"],
        "properties": {
          "label": { "type": "string", "minLength": 1 },
          "value": {
            "type": "number",
            "minimum": 0,
            "maximum": 100
          },
          "unit": { "type": "string" }
        },
        "additionalProperties": false
      },
      "AlertPayload": {
        "type": "object",
        "properties": {
          "title": { "type": "string" },
          "body": { "type": "string" }
        },
        "additionalProperties": false
      },
      "ChannelTarget": {
        "type": "object",
        "properties": {
          "channels": {
            "type": "array",
            "items": { "type": "string" },
            "minItems": 1,
            "description": "Channel slugs. When omitted, API key scope determines recipients."
          }
        },
        "required": ["channels"],
        "additionalProperties": false
      },
      "PushNotificationActionType": {
        "type": "string",
        "enum": ["open_url", "webhook"]
      },
      "PushNotificationWebhookMethod": {
        "type": "string",
        "enum": ["GET", "POST"],
        "default": "POST"
      },
      "PushNotificationAction": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Button title displayed in iOS expanded notification UI."
          },
          "type": { "$ref": "#/components/schemas/PushNotificationActionType" },
          "url": {
            "type": "string",
            "format": "uri",
            "pattern": "^https://",
            "description": "HTTPS URL. For open_url it is opened in browser. For webhook it is called by ActivitySmith backend."
          },
          "method": {
            "$ref": "#/components/schemas/PushNotificationWebhookMethod",
            "description": "Webhook HTTP method. Used only when type=webhook."
          },
          "body": {
            "type": "object",
            "additionalProperties": true,
            "description": "Optional webhook payload body. Used only when type=webhook."
          }
        },
        "required": ["title", "type", "url"],
        "additionalProperties": false
      },
      "LiveActivityActionType": {
        "type": "string",
        "enum": ["open_url", "webhook"]
      },
      "LiveActivityWebhookMethod": {
        "type": "string",
        "enum": ["GET", "POST"],
        "default": "POST"
      },
      "LiveActivityAction": {
        "type": "object",
        "description": "Optional single action button shown in the Live Activity UI.",
        "properties": {
          "title": {
            "type": "string",
            "description": "Button title displayed in the Live Activity UI."
          },
          "type": { "$ref": "#/components/schemas/LiveActivityActionType" },
          "url": {
            "type": "string",
            "format": "uri",
            "pattern": "^https://",
            "description": "HTTPS URL. For open_url it is opened in browser. For webhook it is called by ActivitySmith backend."
          },
          "method": {
            "$ref": "#/components/schemas/LiveActivityWebhookMethod",
            "description": "Webhook HTTP method. Used only when type=webhook."
          },
          "body": {
            "type": "object",
            "additionalProperties": true,
            "description": "Optional webhook payload body. Used only when type=webhook."
          }
        },
        "required": ["title", "type", "url"],
        "additionalProperties": false
      },
      "PushNotificationRequest": {
        "type": "object",
        "required": ["title"],
        "properties": {
          "title": { "type": "string" },
          "message": { "type": "string" },
          "subtitle": { "type": "string" },
          "media": {
            "type": "string",
            "format": "uri",
            "pattern": "^https://",
            "description": "Optional HTTPS URL for an image, audio file, or video that users can preview or play when they expand the notification. If `redirection` is omitted, tapping the notification opens this URL. Cannot be combined with `actions`."
          },
          "redirection": {
            "type": "string",
            "format": "uri",
            "pattern": "^https://",
            "description": "Optional HTTPS URL opened when user taps the notification body. Overrides the default tap target from `media` when both are provided."
          },
          "actions": {
            "type": "array",
            "maxItems": 4,
            "items": { "$ref": "#/components/schemas/PushNotificationAction" },
            "description": "Optional interactive actions shown when users expand the notification. Cannot be combined with `media`."
          },
          "payload": {
            "type": "object",
            "additionalProperties": true
          },
          "badge": { "type": "integer" },
          "sound": { "type": "string" },
          "target": { "$ref": "#/components/schemas/ChannelTarget" }
        },
        "additionalProperties": false
      },
      "PushNotificationResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "devices_notified": { "type": "integer" },
          "users_notified": { "type": "integer" },
          "effective_channel_slugs": {
            "type": ["array", "null"],
            "items": { "type": "string" }
          },
          "timestamp": { "type": "string", "format": "date-time" }
        },
        "required": ["success", "timestamp"],
        "additionalProperties": false
      },
      "LiveActivityStartRequest": {
        "type": "object",
        "description": "Start a new Live Activity. The response includes activity_id for later update and end calls.",
        "required": ["content_state"],
        "properties": {
          "content_state": { "$ref": "#/components/schemas/ContentStateStart" },
          "action": { "$ref": "#/components/schemas/LiveActivityAction" },
          "alert": { "$ref": "#/components/schemas/AlertPayload" },
          "target": { "$ref": "#/components/schemas/ChannelTarget" }
        },
        "additionalProperties": false
      },
      "LiveActivityStartResponse": {
        "type": "object",
        "description": "Returned after a Live Activity starts. Save activity_id and use it for all later updates and for the final end call.",
        "properties": {
          "success": { "type": "boolean" },
          "devices_notified": { "type": "integer" },
          "users_notified": { "type": "integer" },
          "activity_id": { "type": "string" },
          "effective_channel_slugs": {
            "type": ["array", "null"],
            "items": { "type": "string" }
          },
          "timestamp": { "type": "string", "format": "date-time" }
        },
        "required": ["success", "activity_id", "timestamp"],
        "additionalProperties": false
      },
      "LiveActivityStreamRequest": {
        "type": "object",
        "description": "Send the latest state for a managed Live Activity stream. channels is the streamlined form for stream targeting. target.channels is also accepted for compatibility. If both are provided, they must match.",
        "required": ["content_state"],
        "properties": {
          "content_state": { "$ref": "#/components/schemas/StreamContentState" },
          "action": { "$ref": "#/components/schemas/LiveActivityAction" },
          "alert": { "$ref": "#/components/schemas/AlertPayload" },
          "channels": {
            "type": "array",
            "items": { "type": "string" },
            "minItems": 1,
            "description": "Channel slugs. When omitted, API key scope determines recipients."
          },
          "target": { "$ref": "#/components/schemas/ChannelTarget" }
        },
        "additionalProperties": false
      },
      "LiveActivityStreamPutResponse": {
        "type": "object",
        "description": "Returned after a managed stream request is reconciled.",
        "properties": {
          "success": { "type": "boolean" },
          "operation": {
            "type": "string",
            "enum": ["started", "updated", "rotated", "noop", "paused"]
          },
          "stream_key": { "type": "string" },
          "activity_id": { "type": ["string", "null"] },
          "previous_activity_id": { "type": "string" },
          "devices_notified": { "type": "integer" },
          "devices_queued": { "type": "integer" },
          "users_notified": { "type": "integer" },
          "effective_channel_slugs": {
            "type": ["array", "null"],
            "items": { "type": "string" }
          },
          "timestamp": { "type": "string", "format": "date-time" }
        },
        "required": ["success", "operation", "stream_key", "timestamp"],
        "additionalProperties": false
      },
      "LiveActivityStreamDeleteRequest": {
        "type": "object",
        "description": "Optional payload for ending a managed stream. When omitted, ActivitySmith ends the stream using the latest known state when possible.",
        "properties": {
          "content_state": { "$ref": "#/components/schemas/StreamContentState" },
          "action": { "$ref": "#/components/schemas/LiveActivityAction" },
          "alert": { "$ref": "#/components/schemas/AlertPayload" }
        },
        "additionalProperties": false
      },
      "LiveActivityStreamDeleteResponse": {
        "type": "object",
        "description": "Returned after a managed stream is ended and removed.",
        "properties": {
          "success": { "type": "boolean" },
          "operation": {
            "type": "string",
            "enum": ["ended"]
          },
          "stream_key": { "type": "string" },
          "activity_id": { "type": ["string", "null"] },
          "devices_queued": { "type": "integer" },
          "devices_notified": { "type": "integer" },
          "timestamp": { "type": "string", "format": "date-time" }
        },
        "required": ["success", "operation", "stream_key", "timestamp"],
        "additionalProperties": false
      },
      "MetricFormat": {
        "type": "string",
        "enum": ["number", "currency", "percent", "unit", "string"]
      },
      "MetricUnitSpacing": {
        "type": "string",
        "enum": ["none", "space"]
      },
      "WidgetMetric": {
        "type": "object",
        "description": "A metric configured for ActivitySmith widgets.",
        "properties": {
          "public_id": { "type": "string" },
          "key": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64,
            "pattern": "^[a-z0-9][a-z0-9_.-]{0,63}$"
          },
          "label": {
            "type": "string",
            "minLength": 1,
            "maxLength": 80
          },
          "currency_code": {
            "type": ["string", "null"],
            "minLength": 3,
            "maxLength": 3,
            "pattern": "^[A-Z]{3}$",
            "description": "Present when format is currency."
          },
          "unit": {
            "type": ["string", "null"],
            "maxLength": 16,
            "description": "Present when format is unit."
          },
          "unit_spacing": { "$ref": "#/components/schemas/MetricUnitSpacing" },
          "format": { "$ref": "#/components/schemas/MetricFormat" },
          "latest_value": {
            "type": ["number", "string", "null"],
            "description": "Latest metric value. Numeric formats return a number. String metrics return text."
          },
          "latest_value_at": {
            "type": ["string", "null"],
            "format": "date-time"
          },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        },
        "required": [
          "public_id",
          "key",
          "label",
          "currency_code",
          "unit",
          "unit_spacing",
          "format",
          "latest_value",
          "latest_value_at",
          "created_at",
          "updated_at"
        ],
        "additionalProperties": false
      },
      "MetricValueUpdateRequest": {
        "type": "object",
        "description": "Latest metric value to display in widgets.",
        "properties": {
          "value": {
            "oneOf": [{ "type": "number" }, { "type": "string", "minLength": 1, "maxLength": 64 }]
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Optional ISO timestamp for when the metric value was measured. Defaults to the server receive time."
          }
        },
        "required": ["value"],
        "additionalProperties": false
      },
      "MetricValueUpdateResponse": {
        "type": "object",
        "properties": {
          "metric": { "$ref": "#/components/schemas/WidgetMetric" }
        },
        "required": ["metric"],
        "additionalProperties": false
      },
      "MetricError": {
        "type": "object",
        "properties": {
          "error": { "type": "string" },
          "message": { "type": "string" }
        },
        "required": ["error"],
        "additionalProperties": true
      },
      "BadRequestError": {
        "type": "object",
        "properties": {
          "error": { "type": "string" },
          "message": { "type": "string" }
        },
        "required": ["error", "message"],
        "additionalProperties": true
      },
      "ForbiddenError": {
        "type": "object",
        "properties": {
          "error": { "type": "string" },
          "message": { "type": "string" }
        },
        "required": ["error", "message"],
        "additionalProperties": true
      },
      "NoRecipientsError": {
        "type": "object",
        "properties": {
          "error": { "type": "string" },
          "message": { "type": "string" },
          "effective_channel_slugs": {
            "type": ["array", "null"],
            "items": { "type": "string" }
          }
        },
        "required": ["error", "message"],
        "additionalProperties": true
      },
      "NotFoundError": {
        "type": "object",
        "properties": {
          "error": { "type": "string" },
          "message": { "type": "string" }
        },
        "required": ["error", "message"],
        "additionalProperties": true
      },
      "RateLimitError": {
        "type": "object",
        "properties": {
          "error": { "type": "string" },
          "message": { "type": "string" }
        },
        "required": ["error", "message"],
        "additionalProperties": false
      },
      "LiveActivityLimitError": {
        "type": "object",
        "properties": {
          "error": { "type": "string" },
          "message": { "type": "string" },
          "limit": { "type": "integer" },
          "active": {
            "type": "integer",
            "description": "Current number of active Live Activities."
          }
        },
        "required": ["error", "message", "limit", "active"],
        "additionalProperties": false
      },
      "LiveActivityUpdateRequest": {
        "type": "object",
        "description": "Update an existing Live Activity by activity_id.",
        "required": ["activity_id", "content_state"],
        "properties": {
          "activity_id": { "type": "string" },
          "content_state": { "$ref": "#/components/schemas/ContentStateUpdate" },
          "action": { "$ref": "#/components/schemas/LiveActivityAction" }
        },
        "additionalProperties": false
      },
      "LiveActivityUpdateResponse": {
        "type": "object",
        "description": "Returned after a Live Activity update is sent or queued.",
        "properties": {
          "success": { "type": "boolean" },
          "activity_id": { "type": "string" },
          "devices_queued": { "type": "integer" },
          "devices_notified": { "type": "integer" },
          "timestamp": { "type": "string", "format": "date-time" }
        },
        "required": ["success", "activity_id", "timestamp"],
        "additionalProperties": false
      },
      "LiveActivityEndRequest": {
        "type": "object",
        "description": "End an existing Live Activity by activity_id.",
        "required": ["activity_id", "content_state"],
        "properties": {
          "activity_id": { "type": "string" },
          "content_state": { "$ref": "#/components/schemas/ContentStateEnd" },
          "action": { "$ref": "#/components/schemas/LiveActivityAction" }
        },
        "additionalProperties": false
      },
      "LiveActivityEndResponse": {
        "type": "object",
        "description": "Returned after a Live Activity end event is sent or queued.",
        "properties": {
          "success": { "type": "boolean" },
          "activity_id": { "type": "string" },
          "devices_queued": { "type": "integer" },
          "devices_notified": { "type": "integer" },
          "timestamp": { "type": "string", "format": "date-time" }
        },
        "required": ["success", "activity_id", "timestamp"],
        "additionalProperties": false
      }
    }
  }
}
